.header {
  width: 100vw;
  height: 50px;
  background-color: var(--bgn-color-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.rolling-text {
  background-color: transparent;
  display: inline-block;
  animation: roll 15s linear infinite;
  width: 100%;
  text-align: center;
}

@keyframes roll {
  from {
    transform: translateX(75%);
  }
  to {
    transform: translateX(-75%);
  }
}

.footer {
  width: 100vw;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--bgn-color-2);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
